name: "docker-build"

on:
  workflow_call:
    inputs:
      target:
        description: "Bake target"
        required: true
        type: string
      set:
        description: "List of targets values to override (eg. targetpattern.key=value)"
        required: false
        type: string
      files:
        description: "List of bake definition files"
        required: false
        default: 'docker-bake.hcl'
        type: string
      workdir:
        description: "Working directory of bake execution"
        required: false
        default: '.'
        type: string
      push:
        description: "Push is a shorthand for --set=*.output=type=registry"
        required: false
        type: boolean
        default: false
      clean-up:
        description: "Whether to clean up"
        required: false
        type: boolean
        default: true
      upload-metadata:
        description: "Whether to upload metadata files"
        required: false
        type: boolean
        default: true
      hw-registry:
        description: "Server address of Huawei Cloud registry"
        required: false
        type: string
        default: "swr.cn-southwest-2.myhuaweicloud.com"
    secrets:
      DOCKERHUB_OWNER:
        description: "Owner of the DockerHub registry"
        required: false
      DOCKERHUB_USERNAME:
        description: "Username of the DockerHub registry"
        required: false
      DOCKERHUB_TOKEN:
        description: "Token of the DockerHub registry"
        required: false
      QUAY_OWNER:
        description: "Owner of the Quay registry"
        required: false
      QUAY_USERNAME:
        description: "Username of the Quay registry"
        required: false
      QUAY_TOKEN:
        description: "Token of the Quay registry"
        required: false
      HW_OWNER:
        description: "Owner of the Huawei Cloud registry"
        required: false
      HW_USERNAME:
        description: "Username of the Huawei Cloud registry"
        required: false
      HW_TOKEN:
        description: "Token of the Huawei Cloud registry"
        required: false

permissions:
  contents: read

jobs:
  prepare:
    name: 'prepare'
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.list-target.outputs.targets }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # TODO(shink): Improve files once this PR merged
      # https://github.com/docker/bake-action/pull/247
      - name: List targets
        id: list-target
        uses: docker/bake-action/subaction/list-targets@v5
        with:
          workdir: ${{ inputs.workdir }}
          files: ${{ inputs.files }}
          target: ${{ inputs.target }}

  docker:
    name: 'docker'
    runs-on: ubuntu-latest
    needs:
      - prepare
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        target: ${{ fromJson(needs.prepare.outputs.targets) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clean up
        if: ${{ inputs.clean-up }}
        continue-on-error: true
        uses: ./.github/actions/clean-up

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker registries
        if: ${{ inputs.push }}
        uses: ./.github/actions/docker-login
        with:
          dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
          quay-username: ${{ secrets.QUAY_USERNAME }}
          quay-token: ${{ secrets.QUAY_TOKEN }}
          hw-username: ${{ secrets.HW_USERNAME }}
          hw-token: ${{ secrets.HW_TOKEN }}
          hw-registry: ${{ inputs.hw-registry }}

      - name: Extract metadata for Docker
        id: metadata
        uses: docker/metadata-action@v5
        with:
          bake-target: "docker-metadata-action"

      - name: Build and push Docker image
        id: bake
        uses: docker/bake-action@v5
        with:
          workdir: ${{ inputs.workdir }}
          files: |
            ${{ inputs.files }}
            ${{ steps.metadata.outputs.bake-file-labels }}
            ${{ steps.metadata.outputs.bake-file-annotations }}
          targets: ${{ matrix.target }}
          push: ${{ inputs.push }}
          set: ${{ inputs.set }}
          provenance: false
          sbom: false

      - name: Export metadata
        id: export
        if: ${{ steps.bake.outputs.metadata }}
        shell: bash
        run: |
          METADATA_FILE_NAME="${{ matrix.target }}-metadata.json"
          echo "metadata-file-name=${METADATA_FILE_NAME}" >> $GITHUB_OUTPUT
          echo '${{ steps.bake.outputs.metadata }}' > /tmp/${METADATA_FILE_NAME}

      - name: Upload metadata
        id: upload-artifact
        if: ${{ inputs.upload-metadata }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.export.outputs.metadata-file-name }}
          path: /tmp/${{ steps.export.outputs.metadata-file-name }}
          if-no-files-found: error
          retention-days: 7

      - name: Show space
        if: ${{ always() }}
        shell: bash
        run: |
          set -x
          sudo df -h
          docker images -a
