name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - '.github/actions/clean-up/action.yml'
      - '.github/actions/docker-login/action.yml'
      - '.github/workflows/_docker-build.yml'
      - '.github/workflows/docker.yml'
      - 'cann/**'
      - 'python/**'
      - 'pytorch/**'
      - 'mindspore/**'
      - 'arg.json'
      - 'docker-bake.hcl'
      - '!**/*.md'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/actions/clean-up/action.yml'
      - '.github/actions/docker-login/action.yml'
      - '.github/workflows/_docker-build.yml'
      - '.github/workflows/docker.yml'
      - 'cann/**'
      - 'python/**'
      - 'pytorch/**'
      - 'mindspore/**'
      - 'arg.json'
      - 'docker-bake.hcl'
      - '!**/*.md'
  release:
    types:
      - 'published'

# Only cancel the previous runs when triggered by a pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  contents: read
  packages: write

jobs:
  python:
    name: python
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: 'python'
      push: true
      clean-up: false
      set: |
        *.cache-from=type=gha
        *.cache-to=type=gha,mode=min
    secrets: inherit
