name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - '.github/actions/clean-up/action.yml'
      - '.github/actions/docker-login/action.yml'
      - '.github/workflows/_docker-build.yml'
      - '.github/workflows/docker.yml'
      - 'cann/**'
      - 'python/**'
      - 'pytorch/**'
      - 'mindspore/**'
      - 'arg.json'
      - 'docker-bake.hcl'
      - '!**/*.md'
  pull_request:
    branches:
      - 'main'
    types:
      - 'synchronize'
      - 'labeled'
    paths:
      - '.github/actions/list-labels/action.yml'
      - '.github/actions/clean-up/action.yml'
      - '.github/actions/docker-login/action.yml'
      - '.github/workflows/_docker-build.yml'
      - '.github/workflows/docker.yml'
      - 'cann/**'
      - 'python/**'
      - 'pytorch/**'
      - 'mindspore/**'
      - 'arg.json'
      - 'docker-bake.hcl'
      - '!**/*.md'
  release:
    types:
      - 'published'

# Only cancel the previous runs when triggered by a pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  pull-requests: read
  contents: read
  packages: write

jobs:
  prepare:
    name: prepare
    runs-on: ubuntu-latest
    outputs:
      pr-labels: ${{ steps.list-labels.outputs.labels }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Lists all labels for your pull request
      - name: List labels
        id: list-labels
        if: ${{ github.event_name == 'pull_request' }}
        uses: ./.github/actions/list-labels
        with:
          issue-number: ${{ github.event.pull_request.number }}

  python:
    name: python
    needs:
      - prepare
    if: |
      !cancelled() &&
      (
       (github.event_name != 'pull_request' && success()) ||
       (github.event_name == 'pull_request' && contains(needs.prepare.outputs.pr-labels, 'python'))
      )
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: 'python'
      push: ${{ github.event_name == 'release' }}
      clean-up: false
      set: |
        *.cache-from=type=gha
        *.cache-to=type=gha,mode=min
    secrets: inherit

  cann:
    name: cann
    needs:
      - prepare
      - python
    if: |
      !cancelled() &&
      (
       (github.event_name != 'pull_request' && success()) ||
       (github.event_name == 'pull_request' && contains(needs.prepare.outputs.pr-labels, 'cann'))
      )
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: 'cann'
      push: ${{ github.event_name == 'release' }}
    secrets: inherit

  pytorch:
    name: pytorch
    needs:
      - prepare
      - cann
    if: |
      !cancelled() &&
      (
       (github.event_name != 'pull_request' && success()) ||
       (github.event_name == 'pull_request' && contains(needs.prepare.outputs.pr-labels, 'pytorch'))
      )
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: 'pytorch'
      push: ${{ github.event_name == 'release' }}
    secrets: inherit

  mindspore:
    name: mindspore
    needs:
      - prepare
      - cann
    if: |
      !cancelled() &&
      (
        (github.event_name != 'pull_request' && success()) ||
        (github.event_name == 'pull_request' && contains(needs.prepare.outputs.pr-labels, 'mindspore'))
      )
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: 'mindspore'
      push: ${{ github.event_name == 'release' }}
    secrets: inherit
